$black: rgb(0,0,0);
$gunMetal: rgb(33, 38, 40);
$ashGray: rgb(178, 190, 181);
$ivory: rgb(255, 255, 240);
// form colors
$shamRockGreen: rgba(0, 158, 96, 0.5);
$alazarinCrimson: rgba(227, 38, 54, 0.5);
$carolineBlue: rgba(86, 160, 211, 0.6);