@import "colors.scss";
@import "reset.scss";

$small-break-point: 320px;
$mid-break-point: 650px;
$large-break-point: 950px;
$last-break-point: 1200px;

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
	  font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2rem;
}

@media (max-width: $last-break-point) {
  .container {
    max-width: $last-break-point;
  }
}
.container, .menu-btn, .header, footer, .nav, div, hr, ul {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

a {
	color: $gunMetal;
	text-decoration: none;
}

li {
	list-style: none;
}