@import "colors.scss";
@import "sass-reset.scss";

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

html {
	font-family: 'Didact Gothic', Helvetica, Arial, sans-serif; 
  font-weight: 600; font-size: 15px; overflow: auto; overflow-x: hidden; position: relative;
}

$max-display-size: 1500px;
.container {
	width: 100%; margin: 0 auto; padding-bottom: 2rem; max-width: $max-display-size;
}

.menu-btn, footer, div, hr, ul {
  position: relative; width: 100%; margin: 0 auto;
}

a {
	color: $gunMetal; text-decoration: none;
}

li {
	list-style: none;
}

input {
  border: none; text-align: center;
  &:focus {
    outline: none;
  }
}