<template name="landing">
  <div class="row">
    <div class="twelve columns intro">
      <h3> head-start~$&gt; <span class="console-cursor">_</span></h3>
      <p>Hit the ground running on your next Meteor project!</p>
      <p>Head Start is a starting point for Metor applications that includes features that are essential for every web application</p>
      <a class="button button-primary" href="http://headstart.meteor.com/">Demo</a> 
      <a class="button" href="https://github.com/Letladi/head-start">Source</a>
    </div>
  </div>
  <div class="row">
    <h4 class="twelve columns">Features:</h4>
  </div>
  <div class="row features">
    <div class="four columns">
      <p>Registration/Login</p>
    </div>
    <div class="four columns">
      <p>File Uploads</p>
    </div>
    <div class="four columns">
      <p>Image Manupilation</p>
    </div>
  </div>
</template>