<template name="landing">
  
  <div class="intro section">
    <div class="intro-speech">
      <h1>Head Start</h1>
      <p>Hit the ground running on your next Meteor project!</p>
      <p><a href="https://github.com/Letladi/head-start" target="_blank"><span class="fa fa-github"></span></a></p>
      <h2> head-start@devshop~$&gt; <span class="console-cursor">_</span></h2>
    </div>
    <div class="see-sections">
      <a href="#about"><span class="fa fa-arrow-circle-down fa-3x"></span></a>
    </div>
  </div>
  
  <div class="section" id="about">
    <div class="about-info">
      <h1>About</h1>
      <p><a href="https://github.com/Letladi/head-start" target="_blank"><span class="fa fa-github"></span></a></p>
      <p>Head Start is a starting point for Metor applications that includes features that are essential for every web application</p>
      <p>Head Start comes with the following features:</p> 
    </div>
    
    <div class="features">
      <div>
        <h2>User Registration/Login</h2>
        <span class="fa fa-user fa-5x"></span>
      </div>
      <div>
        <h2>File Uploads</h2>
        <span class="fa fa-upload fa-5x"></span>
      </div>
      <div>
        <h2>Image Manupilation</h2>
        <span class="fa fa-file-image-o fa-5x"></span>
      </div>
    </div>
  </div>
  
</template>