<template name="landing">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Head Start</h1>
      <div class="row center">
        <h5 class="header col s12 light">Hit the ground running on your next Meteor project!</h5>
        
      </div>
      <div class="row center">
        <a href="https://github.com/Letladi/head-start/archive/master.zip?download=true" id="download-button" class="btn-large waves-effect waves-light orange">Download</a>
        <a href="https://github.com/Letladi/head-start" id="download-button" class="btn-large waves-effect waves-light orange">Source</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h6 class="header col s12">Head Start is a starting point for Metor applications that includes features that are essential for every web application</h6>
      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User System</h5>

            <p class="light">Registration. Login. Email Confirmation. Password Reset</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">saspect_ratio</i></h2>
            <h5 class="center">Materialize</h5>

            <p class="light">The Materialize package and its components</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">This landing page is inspired by <a href="http://materializecss.com/templates/starter-template/preview.html" target="_blank">this</a> materialize template.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Company</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Press</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/Letladi">Letladi</a>
      </div>
    </div>
  </footer>

</template>