<template name="login">
<form class="login">
  <div class="users row">
    <div class="twelve columns">
      <label for="email">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
    </div>
    <div class="twelve columns">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" placeholder="hard-to-guess-word" id="password">
    </div>
  </div>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary u-full-width" type="submit" value="Submit" >
</form> 
<div class="row alternate-actions">
  <div class="twelve columns">
  <a href="/register">Not Registered</a>
  </div>
  <div class="twelve columns">
    <a href="/forgotPassword">Forgot Password</a>
  </div>
</div>
</template>