<template name="forgotPassword">
    <form class="reset">
      <div class="row">
        <div class="twelve columns">
          <label for="email">Email</label>
          <input class="u-full-width" type="email" name="email" placeholder="test@mailbox.com" id="email">
        </div>
      </div>
      <input class="button-primary u-full-width" type="submit" name="reset" value="Send Email Link" >
    </form>
</template>

<template name="resetPassword">
  <div class="users">
    <form class="reset">
      <input type="password" name="password" placeholder="New Password" >
      <input type="password" name="confirm-password" placeholder="Confirm Password" >
      <hr>
      <input type="submit" name="reset" value="Reset Password" >
    </form>
  </div>
</template>