<template name="forgotPassword">
<div class="row">
    <form class="col s12 reset">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <input class="waves-effect waves-light btn-large col s6" type="submit" value="Send Email Link" name="reset">
      </div>
      
    </form>
  </div>
</template>

<template name="resetPassword">
  <div class="row">
    <form class="col s12 reset">
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password-confirmation" type="password" class="validate">
          <label for="password-confirmation">Password Confirmation</label>
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn-large col s6" type="submit" value="Reset Password" name="reset">
      </div>
      
    </form>
  </div>
</template>