<template name="forgotPassword">
    <form class="reset">
      <div class="row">
        <div class="twelve columns">
          <label for="email">Email</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
        </div>
      </div>
      <input class="button-primary u-full-width" type="submit" name="reset" value="Send Email Link" >
    </form>
</template>

<template name="resetPassword">
    <form class="reset">
      <div class="row">
        <div class="twelve columns">
          <label for="password">Password</label>
          <input class="u-full-width" type="password" placeholder="hard-to-guess-word" id="password">
        </div>
        <div class="twelve columns">
          <label for="password">Password Confirmation</label>
          <input class="u-full-width" type="password" placeholder="hard-to-guess-word" id="confirm-password">
        </div>
        <input class="button-primary u-full-width" type="submit" value="Reset Password" name="reset" >
      </div>
    </form>
</template>