<template name="uploads">
  <div class="panels">    
    <div class="panel fileDrop">
      <div class="panel-content">
        <h1>Drop File(s) To Be Uploaded Here.</h1>
      </div> 
    </div>
    {{> files }}    
  </div>
</template>

<template name="files">
  <div class="panel clearfix">
    <h1 class="file-list-heading">Uploaded Files</h1>
      {{#each myFiles}}
        {{> file }}
      {{/each}}
  </div>
</template>

<template name="file">
  <div class="file">
    <div class="panel-content">
      <h3>{{ fileName }}</h3> 
      <span>({{fileSize}})</span>
      {{#if fileReady}}
        <a href="{{link}}?download=true"><span class="fa fa-arrow-circle-o-down"></span></a>
        <span class="fa fa-trash-o js-delete"></span>
      {{/if}}
    </div>  
  </div>
</template>

