<template name="contact">
  {{> header }}
  <div class="contact-points">
    <div class="contact-point">
      <div class="connection-details">
        <h2>Please Get In Touch With Us Here</h2>
        <form>
          <input type="text" name="name" placeholder="Your name" >
          <input type="email" name="email" placeholder="Your email" >
          <textarea rows="10" cols="50" name="description" placeholder="Message"></textarea>
          <input type="submit" value="Send Message" name="submit" >  
        </form>
      </div>
      <span class="js-show-details">Show Details</span>
      <div class="contact-details">
        <p>102 Stone Manor</p>
        <p>Fred Messenger Avenue</p>
        <p>Andeon</p>
        <p>Pretoria</p>
        <p>0183</p>
        <p>South Africa</p><br>
        <p>+2779 169 0892</p>
      </div>
    </div>
  </div>
</template>