<template name="header">
  <div class="row">   
  <div class="six columns">
    <h3>HeadStart</h3>
  </div> 
    <div class="six columns">
      <ul>
        {{#if currentUser}}
          <li>
            <a href="/uploads">Upload File(s)</a>
          </li>
          <li>
            <a href="#" class="logout">Logout</a>
          </li>
        {{else}}
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>      
          </li>
        {{/if}}
      </ul> 
    </div>
  </div>
</template>