<template name="header">
  <header class="main-header u-full-width">
    <div class="container">
    <ul>
        <li>
          <a href="/">HeadStart</a>
        </li>
        {{#if currentUser}}
          <li class="u-pull-right">
            <a href="/uploads">Upload File(s)</a>
          </li>
          <li class="u-pull-right">
            <a href="#" class="logout">Logout</a>
          </li>
        {{else}}
          <li class="u-pull-right">
            <a href="/register">Register</a>
          </li>
          <li class="u-pull-right">
            <a href="/login">Login</a>      
          </li>
        {{/if}}
      </ul> 
    </div>
</header>
</template>

