<template name="header">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>

      <ul class="right hide-on-med-and-down">
        {{#if currentUser}}
            <li>
            </li>
            <li>
              <a href="#" class="logout">Logout</a>
            </li>
          {{else}}
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>      
            </li>
          {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {{#if currentUser}}
            <li>
            </li>
            <li>
              <a href="#" class="logout">Logout</a>
            </li>
          {{else}}
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>      
            </li>
          {{/if}}
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</template>

